# FIXME This probably isn't formatted how it should be.

twisted
autobahn
pyopenssl # needed libffi-dev on wheezy
service_identity
bcrypt
#rtorrent-python
#transmissionrpc
#deluge has twisted api by default
